<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather App</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
</head>
<body ng-controller="WeatherController as ctrl">

<div class="container">
  <div class="page-header">
    <h1>Weather App</h1>
  </div>

  <!-- Top Cities -->
  <span class="btn-group">
    <span ng-repeat="city in ctrl.topCities">
    <button class="btn btn-info" type="button" ng-click="ctrl.getWeather(city)">{{city}}</button>
    </span>
  </span>

  <!-- Search Bar -->
  <form class="input-group form" ng-submit="ctrl.searchCity()">
    <input type="text" class="form-control" ng-model="ctrl.inputCity">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </form>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
        <p>Current Weather</p>
        </div>
        <div class="panel-body">

          <!--City Info -->
          <div class="row">
            <div class="text-center city-div">
              <img ng-src="{{ctrl.cityInfo.iconUrl}}">
              <span class="h3 text-center">{{ctrl.cityInfo.city}}</span>
            </div>
            <p class="text-center">{{ctrl.cityInfo.weather}}</p>
            <p class="text-center">{{ctrl.cityInfo.coordinates}}</p>
          </div>
          <hr>

          <!-- Weather Info -->
          <div class="row">

            <div class="col-sm-4 col-xs-2 text-center" ng-repeat="item in ctrl.weatherInfo">
              <label class="info-label">{{item.label}}</label>
              <p class="info-value">{{item.value}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Search History -->
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <p>Search History</p>
        </div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr ng-repeat="item in ctrl.searchHistory | orderBy: item.time : true" >
                <td class="search-term" ng-click="ctrl.getWeather(item.city)">{{item.city}}</td>
                <td class="timestamp">{{item.time | date: "MM/dd/yy hh:mm:ss a"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

  </div>

</div>





  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="js/app.js"></script>
  <script src="js/weather.controller.js"></script>
  <script src="js/weather.factory.js"></script>
  <!-- endinject -->
</body>
</html>
